:root {
  --primary: #776f1c;
  --secondary: #d56800;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: var(--primary) !important;
  margin-bottom: 0 !important;
}
.navbar-nav {
  padding-left: 20vw;
}
.nav-item {
  font-size: 1.3vw;
  padding-left: 4vw;
}
.nav-item .nav-link {
  color: #ffffff !important;
}

.slide button .arr-ind {
  background-color: var(--secondary) !important ;
  height: 3vw !important;
}
.carousel-item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 88vh;
}
.carousel-indicators button {
  color: var(--secondary);
}
.carousel-caption p {
  font-weight: 800;
  font-size: 1.3vw;
}
.about1 {
  min-height: 60vh;
  padding: 3vw 5vw;
  background-color: rgb(221, 217, 217);
}
.about1 img {
  max-width: 40vw;
  min-width: 40vw;
  max-height: 30vw;
  object-fit: cover;
}
.about1 p {
  font-size: 1.3vw;
}
.ab-text h3 {
  color: var(--primary);
  font-weight: 800;
}
.ab-text strong {
  color: var(--primary);
}
.ab-text .btn {
  background-color: var(--secondary);
  border: none;
  height: 3vw;
  width: 8vw;
}
.ab-text .btn a {
  color: white;
  font-size: 1.1vw;
  font-weight: 700;
}
footer {
  background-color: grey !important;
  height: 30vh;
  padding: 3vw;
}
footer p {
  color: var(--primary);
  font-size: 1.2vw;
  font-weight: 700;
}
footer .logo {
  color: var(--primary);
  font-size: 1.5vw;
  font-weight: bold;
}
.quick-link ul li {
  list-style: none;
}
.quick-link ul li a {
  color: rgb(85, 81, 81);
}
#social-li {
  display: flex;
}
#social-li li {
  list-style: none;
  padding-right: 3vw;
}

#social-li li a i {
  font-size: 2vw;
  color: rgb(85, 81, 81);
}

.contactbtn .send-div {
  display: flex;
  align-items: center;
}
.contactbtn .send {
  width: 5vw;
  height: 3.9vw;
  background-color: var(--secondary);
  font-size: 1.2vw;
  border: none;
}
.send-div text-area {
  border: none;
}
/* AKAN NAMES PAGE */
form {
  width: 40vw;
  margin: 0 auto;
  margin-bottom: 16vh;
  margin-top: 10vw;
}

.date {
  display: flex;
}
form select {
  height: 2.8vw;
  margin-bottom: 2vw;
  font-size: 1.2vw;
}
form select option {
  height: 5vw !important;
  font-size: 1.2vw;
}
form #btn {
  background-color: var(--secondary);
  width: 100%;
  font-size: 1.3vw;
  border: none;
}
#error {
  color: red;
}
/* MODAL */
.modal-title {
  color: var(--secondary);
}
.modal-body p {
  font-size: 1.2vw;
  color: var(--primary);
  font-weight: bold;
}
.btn-close:hover {
  background-color: var(--secondary);
}
.modal-footer button {
  background-color: var(--secondary);
  font-weight: 800;
}
.modal-footer button:hover {
  background-color: var(--primary);
}
